*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);

    min-height: 100vh;
    /* If you want to change the site height you can remove overflow-y */
    /* pureSnow will automatically detect height of body tag */
    overflow-y: hidden;
    margin: 0;
}
/* preeloader style */
.preeloader{
    width: 99.5%;
    height: 100vh;
    background: #000 url("../img/loader.gif") no-repeat center center;
    background-size: 40%;
    position: fixed;
    z-index: 100;
    border: none;
  }

/* snowfall background style start */
#toggle-snow{
    display: none;
  }
  .snowflake {
    position: absolute;
    width: 10px;
    height: 10px;
    background: linear-gradient(white, white);
    /* Workaround for Chromium's selective color inversion */
    border-radius: 50%;
    filter: drop-shadow(0 0 10px white);
}
#snow{
    position: absolute ;
    top: 0 ;
    left: 0 ;
}
/* snowfall background style end */


/* card section style start */
.card {
    width: 500px;
    height: auto;
    position: relative;
    cursor: pointer;
    transition: all 0.2s;
}
.card-inner {
    width: inherit;
    height: inherit;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
    border-radius: 8px;
}
.baby2{
    width: 40%;
    margin: auto;
    display: block;
}
.card-inner h1{
    text-align: center;
    color: #efa7c8;
    font-family: 'Kablammo', cursive;
    font-size: 25px;
    letter-spacing: 1.5px;
}

/* Visit https://democoding.in/ for more free css animation */
.card:hover {
    transform: scale(1.2) rotate(2deg);
    transition: 0.5s;
}
.data_table{
    padding: 15px 0px 30px 40px;
}
.data_table table{
    color: #ffffffbd;
    font-size: 16px;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}
tr{
    line-height: 25px;
}
.circle {
    width: 100px;
    height: 100px;
    background: radial-gradient(#b0e633, #53ef7d);
    border-radius: 50%;
    position: absolute;
    animation: move-up 2s ease-in infinite alternate-reverse;
}
/* button style design here */
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin-top: 20px;
}
  
.wrapper a {
    display: block;
    width: 89px;
    line-height: 30px;
    background: rgb(255 255 255 / 17%);
    text-align: center;
    position: relative;
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    font-family: sans-serif;
    border-radius: 10px;
}
  
  .wrapper a:before,
  .wrapper a:after{
    position: absolute;
    content: "";
    transition: all .25s;
  }
  
  .wrapper a:before {
    border-bottom: 2px solid #efa7c8;
    border-left: 2px solid #efa7c8;
    width: 10%;
    height: 30%;
    left: -5px;
    bottom: -5px;
}

.wrapper a:after {
    border-top: 2px solid #efa7c8;
    border-right: 2px solid #efa7c8;
    width: 10%;
    height: 30%;
    top: -5px;
    right: -5px;
}

.circle:nth-child(1) {
    top:-25px;
    left:-25px;
}

.circle:nth-child(2){
    bottom: -25px;
    right: -25px;
    animation: move-down;
}

@keyframes move-up {
    to {
        transform: translateY(-10px);
    }
}
@keyframes move-down {
    to {
        transform: translateY(10px);
    }
}
/* card section style end */


@media only screen and (max-width: 767px) {
    .card {
        width: 400px;
    }
    .card-inner h1 {
        font-size: 22px;
        letter-spacing: 1px;
      }
}